

        <h3 class="panel-title">
            Most Recent Loans
        </h3>

    
        {{#each loans}}
        <div class="card" style="width: 18rem;">
            <a class="card-link" href="https://www.kiva.org/lend/{{id}}">
                <img class="card-img-top" width="288" height="288" src="https://www.kiva.org/img/288x288/{{image.id}}.jpg}">
            </a>
             <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{name}} from {{location.country}} is requesting {{loan_amount}} {{use}}</li>
                    <li class="list-group-item">{{location.country}} has a corruption index of blah</li>
                </ul>
             </div>
        </div>
        {{/each}}
